body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
}

/*Box*/
.container {
    max-width: 800px;
    margin: 211px auto;
    padding: 40px;
    background: hsl(262, 20%, 78%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #2c2c5f;
    width: 1000px;
}


.hidden {
    display: none;
}

/*Heading*/
.fillInfoHeading{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 15px;
}

#dateIssuedLabel{
    margin-left: 200px;
}
#dateIssued{
    margin-left: 191px;
}

/*Required items*/
.firstStepRequired, .secondStepRequiredAmount, .thirdStepRequiredAmount, .fourthStepRequiredAmount, .fifthStepRequiredAmount, .sixthStepRequiredAmount{
    margin-left: 5px;
    font-size: small;
    color:red;
    display: none;
}
span{
    color: red;
}


/*table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table th, table td {
    border: 1px solid #120971;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f9f9f9;
}


/*Button*/
button {
    background-color: rgb(153, 94, 241);
    color: hwb(222 87% 7%);
    border: solid 1px #1e1133;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(275, 80%, 14%);
}

button.add-row {
    margin-bottom: 15px;
}


/*css placeholders*/
.text-input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #120971;
    border-radius: 4px;
}
.number-input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #120971;
    border-radius: 4px;
}

@media (max-width: 430px){
    .bgImg{
        max-width: 430px;
    }
    .container{
        max-width: 410px;
        margin: 240px 8px;
    }
    #dateIssuedLabel{
        display: inline-block;
        padding: 0;
        margin-left: 80px;
    }
    #dateIssued{
        margin-left: 60px;
    }


    .footer-section p{
        font-size: 14px;
    }
}

@media (max-width: 360px){
    .bgImg{
        max-width: 360px;
    }
    .container{
        max-width: 330px;
        margin: 170px 8px;
    }
    #dateIssuedLabel{
        display: inline-block;
        padding: 0;
        margin-left: 13px;
    }
    #dateIssued{
        margin-left: 0px;
    }


    .footer-section p{
        font-size: 14px;
    }
    .add-row{
        padding: 8px 5px;
    }
    form button{
        padding: 8px 5px;
    }
}

@media (max-width: 798px){
    .bgImg{
        max-width: 798px;
    }
    .container{
        max-width: 780px;
        margin: 440px 8px;
    }
    #dateIssuedLabel{
        display: inline-block;
        padding: 0;
    }
    #dateIssued{
        margin-left: 230px;
    }


    .footer-section p{
        font-size: 20px;
    }
    .fillInfoHeading{
        font-size: 30px;
    }
    form label{
        font-size: 23px;
    }
    form button{
        font-size: 20px;
    }
}